body{
	padding: 0 auto;
	margin: 0 auto;
	background-color: #EDEEF3;
	font-family: 'Inter';
}

Header{
	background-color: #196B78;
  height: 35vh;
	width: 100%;
	text-align: center;
	color: #CCF8FF;
	box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

.header_name{
	font-size: 6vw;
  padding-top: 5vw;
	font-weight: 700;
}

.header_desc{
	font-size: 2vw;
	margin-top: 1.3vw;
}

form{
	display: flex;
	justify-content: center;
}

input{
    width: 50vw;
    height: 4vw;
    margin-top: -2vh;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-size: 2vw;
    padding-left: 2vw;
}

.container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 99vw;
    margin: 0 auto;
    margin-top: 2vw;
}

.emoji{
	margin: 45vh auto;
	width: 68.611vw;
	flex-wrap: wrap;
}

.emoji-card{
	background-color: white;
  width: 20vw;
  height: 27vh;
	text-align: center;
	padding: 1vw;
	margin: 1vw;
}

.symbol{
	font-size: 4vw;
}

.title{
	font-weight: 700;
	text-decoration-line: underline;
	margin-top: 1.250vw;
	margin-bottom: 0.833vw;
  font-size: 1.8vw;
}

.keywords{
  font-size: 1.2vw;
}

.hide{
	display: none;
}